body {
	width:100%;
	
}

#xop-bg {
	background: url('tajga.jpg');
	background-attachment: fixed;
	background-repeat:no-repeat;
	background-size:cover;
	height:920px;
	position:relative;
	overflow:hidden;
}
#xop-bg::before {
	position: absolute;
	content:"";
	display:block;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:url('tajga.jpg');
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	-webkit-filter: blur(5px);
	filter: blur(5px);
	opacity:0;
	transition: opacity .5s ease-in-out;
	
}

#xop-bg.blur::before {
	opacity:1;
}
.xop-blur-link {
	letter-spacing: 0.2em;
	font-size:2.5rem;
	text-align:center;
	padding-top:250px;
	position:relative;
	text-transform:uppercase;
}

.xop-blur-link a {
	cursor:pointer;
	padding:20px 40px;
	background:#768373;
	color:#fff;
	border-radius:10px;
	transition:.5s;
}

.xop-blur-link a:hover {
	background:#99a296;
}

























